header{
	height: 60px;
	background-color: black;
	color: white;
	font-size: 30px;
	text-align: center;
}
.panel-title{
	/*text-align: center;*/
	font-weight: bold;
	font-style: italic;
	font-size: 20px;
	color: blue;
}
#add-train{
	background-color: black;
	color: white;
}
.panel-body{
	background-color: #FFFAF0;
}
#tName{
	font-weight: bold;
	color: #8B0000;
}
#box2{
	position: fixed;
	width: 30%;
}
body{
	/*background-color: ;*/
	background-image: radial-gradient(#2F4F4F, #ADFF2F, green);

}